.ty-active-story {
  border: 1px solid #000;
  flex: 1;
  display: flex;
  justify-content: center;
  width: 300px;
  flex-wrap: wrap;
}

.ty-active-story__box {
  width: 50px;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
}