.ty-planning {
  padding: 10px;
}

.ty-planning-top {
  display: flex;
  justify-content: space-around;
}

.ty-planning__input-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.ty-planning__story-list {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.ty-planing__story-list--input {
  flex: 1;
}

.ty-planning__bottom {
  display: flex;
  flex-direction: row-reverse;
}

.ty-planning__input--error {
  max-width: 300px;
  color: brown;
  opacity: 0;
  transition: opacity 0.3s;
}

.ty-planning__input--error--active {
  opacity: 1;
}